.btDownload{
    width: 350px;
    height: 200px;

    margin: 3px;
    padding: 5px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: left;

    border: 3px solid black;
    border-radius: 20px;
}

.sousBtDownload{
    display: flex;
    flex-direction: column;

    width: 70%;
}

.photoDownload{
    width: 30%;
    text-align: center;
}

.bouton{
    border: 1px solid rgb(143,33,66); 
    border-radius: 5px;
                                        
    display: inline-block; 
    text-align: center; 
    width: 50%; 
    height: 40%;
                                        
    color: rgb(143,33,66); 
    size: 40px;

    text-decoration:none;
}

.bouton:hover{
    background-color:  rgb(143,33,66);
    color: white;
}

table {
	border-collapse: collapse;
	text-align: center;
    width: 75%;

}

th,td,caption {
	border: 1px black solid;
	text-align: center;
}

th{
	background-color: grey;
}

td{
	background-color: silver;
}

caption{
    background-color: rgb(143,33,66);
    color: white;
}