#BoiteElements{

	display: flex;

	flex-direction: row;

	width: 75%;

	justify-content: center;

	align-items: center;

	padding: 10px;

}

.sousBoite3Elements{

	width: 33%;

	display: flex;

	flex-direction: row;

	justify-content: center;

	align-items: center;

	margin: 15px;

}

.sousBoute2Elements{
	width: 50%;

	display: flex;

	flex-direction: column;

	justify-content: center;

	align-items: center;

}

.sousBoute1Element{
	width: 100%;

	display: flex;

	flex-direction: column;

	justify-content: center;

	align-items: center;

}

#bouton{
	background-color: silver;

	color: rgb(143,33,66);

	width: 25%;

	height: 8%;

	border-radius: 11px;

	margin: 10px;
}

#bouton:hover{

	background-color: rgb(143,33,66);

	color: white;

}

.condition{
	
	width: 650px;

	font-size: 14px;

}
