/* Pour les photos en bas de la page Home */

.zonePhotoColonne{
	display: flex;
	flex-direction: column;

	align-items: center;
}

.zonePhotoLigne{
	display: flex;
	flex-direction: row;

	width: 95%;

	justify-content: space-around;
	flex-wrap: wrap;

	margin: 10px;
}

.boitePhoto{
	width: 200px;
	margin: 2px;
}

/* Pour le texte de la page home */

.corpsTitre{

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.lienIPSA{
	
	color:rgb(143,33,66);
	text-decoration: none;
	text-align: center;

	margin-bottom: 10px;
	
}

.lienIPSA:hover{
	text-decoration: underline;
}

boldText{
	font-weight: bold;
}
italicText{
	font-style: italic;
}